* {
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
}

.count {
  font-family: 'Kumbh Sans', sans-serif;
  font: 500px;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btns {
    margin: 20px;
}

.btn {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
}

.btn-primary {
    background-color: green;
    border: none;
    border-radius: 30px;
    color:#fff;
}

.btn-sec {
    background-color: red;
    border: none;
    border-radius: 30px;
    color: #fff;
}

.btn-primary:hover {
    background-color: greenyellow;
}

.btn-sec:hover {
    background-color: rosybrown;
}

.btn-reset {
    border: none;
    border-radius: 30px;
}

.btn-add {
    background-color: green;
    border: none;
    border-radius: 30px;
}

.btn-subtract {
    background-color: red;
    border: none;
    border-radius: 30px;
}

input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50%;
    text-align: center;
}

.value-btn button {
   margin-top : 20px;  
   padding: 15px;
   border-radius: 20px;
   background-color: brown;
   color: white;
}